<div class="page page-form">
  <app-module-action-header
    title="Create Student"
    backLink="/student/dashboard"
    [showSave]="true"
    [showReset]="true"
    (save)="onSave()"
    (reset)="onReset()"
  />

  <app-voice-dynamic-form
    [columns]="columns"
    [moduleCode]="moduleCode"
    [formValues]="formValues"
    [validationErrors]="validationErrors"
    configureColumnsLink="/student/columns"
    [hideFormActions]="true"
    (save)="onSave()"
    (resetForm)="onReset()"
  />

  <app-custom-field-renderer
    [definitions]="customFieldDefinitions"
    [values]="customFieldValues"
    [errors]="customFieldErrors"
    title="Organization Custom Fields"
    (valuesChange)="onCustomFieldsChange($event)"
  />
</div>
